* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin-left:20px;
}

html {
    background:url('../images/wallpaper-mania.com_High_resolution_wallpaper_background_ID_77701704374.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

#MyPicture {
    width:275px;
    height:auto;
    border-radius: 10rem;
}

header h1 {
    /* margin-left:15%; */
    margin-top:2rem;
    margin-bottom:8rem;
    /* background: lightblue; */
    padding:1rem;
    width:380px;
}

/* h2 { */
    /* margin-left:400px; */
/* } */

footer { 
    margin-top:100px;
    background:lightblue;
    width:1100px;
}

footer span {
    font-weight: bold;
}

ul li {
    list-style-type:none;
}

footer span {
    margin-top:15px;
}

footer a {
    color:black;
    text-decoration:none;
}

img.th {
    border: 1px solid #ddd;
    border-radius: 4px;  
    padding: 5px; 
    width: 200px;
}

img.th:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

figure a {
    color:lightblue;
}